.s-logo {
  padding: 25px 65px 15px 65px;
}

.s-logo > img {
  width: 100%;
}

/*
  Consider using vh?
*/
.s-left-half {
  left: 0;
  background: #232326;
  /* box-shadow: inset -4px 0px 4px -3px #1a1a1ab3; */
  color: white;
}

.s-right-half {
  right: 0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00233B', endColorstr='#090915',GradientType=0 );
  background: linear-gradient(#00233B 0%, #090915 100%);
  border-left: 6px solid #16161b;
  padding: 0;
}

.s-full-split {
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  z-index: 10;
}

.s-login-box {
  background: #16161b;
  position: relative;
  z-index: 15;
  padding: 0;
  overflow: hidden;
  width: 100%;
  float: none;
}

.s-login-box-form {
  padding: 0 35px 8px 25px;
  overflow: hidden;
}

.s-login-input-wrapper {
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

.s-login-input-wrapper > input {
  background: #444;
  border: 0;
  border-bottom: 3px solid #595959;
  padding: 7px 0 7px 7px;
  width: 100%;
  margin-top: 8px;
  font-size: 13.5px;
  color: white;
}

.s-login-input-wrapper > input:focus {
  border-color: #1868C2;
}

.s-login-input-wrapper > input:active {
  border-color: #1868C2;
}

.s-login-input-wrapper > input:hover {
  border-color: #1868C2;
}

.btn.btn-default {
  border: 0;
  color: white;
  border-radius: 0;
  font-weight: normal;
  text-shadow: none;
  box-shadow: none;
  border-color: #1868C2;
  color: white !important;
}


.s-login-btn {
  width: 150px;
  background: #0e6bc9;
  position: relative;
}

.s-login-btn:hover {
  width: 150px;
  background: #3593f2;
}

.s-acc-btn {
  width: 100%;
  background: #3B3B3B;
  padding: 5px 0;
  margin-top: 4px;
}

.s-acc-btn:hover {
  background: #6b6b6b;
}

.s-error-text {
  color: #ff3333;
  margin: 3px;
}

.s-gears {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  max-width: 350px;
  overflow: hidden;
}

.s-gears > img {
  width: 100%;
  position: relative;
  bottom: -40px;
}

img{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

h2.text-center{
  color:#fff;
}

.s-login-call{
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
}

.s-link-badge-wrapper {
  clear: both;
  padding: 0 5px;
}

.s-link-badge {
  background: #fff;
  line-height: 48px;
  text-indent: 55px;
  display: inline-block;
  padding: 0;
  font-size: 17px;
  margin-top: 25px;
  color: white;
  border-bottom: 3px solid #43348D;
}

.s-link-badge-discord {
  background: #7082E1 url("../img/fa-discord-icon.png") 10px 7px no-repeat;
}

.s-link-badge-github {
  background: #fff url("../img/github-icon.png") 10px 7px no-repeat;
  color: #333;
  border-bottom-color: #808080;
}

div.login-card{
  background-color:#282828;
}

p{
  color:#fff;
}

input.input-sm{
  display:block;
  margin-left:auto;
  margin-right:auto;
}



div#Split{
  padding:2px;
}

p{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

input{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

button.btn.btn-default{
  display:block;
  margin-left:auto;
  margin-right:auto;
  color:#000;
}

div#space{
  padding:3px;
}

