[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/recastnavigation"]
	path = deps/recastnavigation
	url = https://github.com/SapphireServer/recastnavigation
[submodule "deps/ffxiv-actions"]
	path = deps/ffxiv-actions
	url = https://github.com/SapphireServer/ffxiv-actions.git
[submodule "deps/glew/glew-cmake"]
	path = deps/glew/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "deps/glfw/glfw"]
	path = deps/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glm/glm"]
	path = deps/glm/glm
	url = https://github.com/g-truc/glm
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/glew-cmake"]
	path = deps/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
