bin
.vs
﻿*.dat
*.suo
*.pch
*.ipch
*.g.cs
*.g.i.cs
*.log
*.tlog
*.db
*.vcdb
*.bin
*.exe
*.pdb
*.obj
*.pcb
*.ilk
/lib/boost_1_63_0
/Sapphire.VC.VC.opendb
*.user
*.dat
*.metagen
*.dll
*.ipdb
*.iobj
/Tools/bin
/Tools/FFXIVMon/FFXIVMon/Debug
/Tools/FFXIVMon/FFXIVMon/Release
/Tools/FFXIVMonChai/Debug
/Tools/GfxApiDemo/Debug
/Tools/packet_parser/packet_parser/Debug
/Tools/pcb_reader/Debug
/Tools/quest_parser/Debug
/Tools/quest_parser/generated
/Tools/quest_parser/Release
/Tools/SapphireBootWPF/bin/x86/Debug
/Tools/SapphireBootWPF/obj/Debug
/Tools/SapphireBootWPF/obj/x86/Debug
/Tools/SapphireBootWPF/obj/x86/Release
/Tools/SapphireBootWPF/obj/x86/Release
/Tools/SapphireBootWPF/obj/x86/Release
/Tools/SapphireBootWPF/obj/x86/Release/SapphireBootWPF_MarkupCompile.lref
/Tools/SapphireBootWPF/obj/x86/Release/SapphireBootWPF_MarkupCompile.i.lref
/Tools/SapphireBootWPF/obj/x86/Release/SapphireBootWPF_MarkupCompile.i.cache
/Tools/SapphireBootWPF/obj/x86/Release/SapphireBootWPF_MarkupCompile.cache
/Tools/SapphireBootWPF/obj/x86/Release/SapphireBootWPF.csproj.FileListAbsolute.txt
/Tools/SapphireBootWPF/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Tools/SapphireBootWPF/obj/x86/Release/CoreCompileInputs.cache
/Tools/SapphireBootWPF/obj/x86/Release/CoreCompileInputs.cache
*.cache
/Tools/GfxApiDemo/collision2
/Server_Common/x64/Debug/vc140.idb
/Server_Common/lib/Sapphire_Commond.lib
/Server_Common/Debug/Server_Common.idb
/Research/packet_templates/Server/FFXIV_12.bt
/packages
/lib/xiv_dat_lib/test_case
/lib/xiv_dat_lib/Release/xiv_dat_lib.lib
/lib/xiv_dat_lib/xiv_dat_lib.lib
/intermediate2
/intermediate
/Debug
/bin/s
/bin/initui_1121.cpp
/src/libraries
/lib/xiv_dat_lib/.vs
/Server_Common/.vs
/Server_Common/.vs
/src/lib/boost_1_63_0
/src/lib/boost_1_63_0
/.vs
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/src/sapphire/.vs
/src/.vs
/bin/Debug
/src/.vs
*.lib
/src/sapphire/datReader/Debug/xivdat.lib
/src/sapphire/Server_Common/Debug/Common.lib
!EasyHook32.dll
!EasyHook32Svc.exe
!EasyHook64.dll
!EasyHook64Svc.exe
!EasyLoad32.dll
!EasyLoad64.dll
CMakeFiles/
*/CMakeFiles/
*.cmake
*.filters
/src/servers/.vs
/src/servers/.vs
