# Output Directory
[Bb]in/*.exe
[Bb]in/*.pdb
[Bb]in/api
[Bb]in/world
[Bb]in/lobby
[Bb]in/dbm
src/tools/[Bb]in/*.exe
src/tools/[Bb]in/*.pdb
src/tools/[Bb]in/discovery_parser
src/tools/[Bb]in/event_object_parser
src/tools/[Bb]in/exd_common_gen
src/tools/[Bb]in/exd_struct_test
src/tools/[Bb]in/mob_parse
src/tools/[Bb]in/pcb_reader2
src/tools/[Bb]in/quest_parse
src/tools/[Bb]in/exd_struct_gen

# Script Directory
# TODO: Sperate script directory from bin
!bin/scripts/**/*

# decompiled scripts
src/tools/bin/generated/*

# Build Directory
build/
cmake-build-*/

# Prerequisites
*.d

# Compiled Binaries
*.pdb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app

# Projects and Solutions
*.vcxproj
*.sln

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cbp

# Binary Template
*.bt

# EasyHook
!EasyHook32.dll
!EasyHook32Svc.exe
!EasyHook64.dll
!EasyHook64Svc.exe
!EasyLoad32.dll
!EasyLoad64.dll

# Cache
.vs/
.vscode/
.idea/
*.cache
*.dat
*.suo
*.pch
*.ipch
*.g.cs
*.g.i.cs
*.log
*.tlog
*.db
*.vcdb
*.bin
*.pcb
*.ilk
/Sapphire.VC.VC.opendb
*.user
*.dat
*.metagen
*.ipdb
*.iobj
*.filters
*.idb

# sapphire version
src/common/Version\.cpp

# edit and continue files
/enc_temp_folder

# travis-ci build mtime cache
.mtime_cache

# generated script loader files
**/ScriptLoader.cpp

# cotire generated files/folders
cotire/
*_cotire.cmake

*objects.txt
*exports.def

# doxygen output folder
doxygen/generated/
doxygen/*.tmp

# ignore config directory contents except the default file
config/*.ini
!config/config.ini.default
