#include <ScriptObject.h>
#include <Zone/InstanceContent.h>

class INSTANCE_NAME : public InstanceContentScript
{
public:
   INSTANCE_NAME() : InstanceContentScript( INSTANCE_ID )
   { }

   void onInit( InstanceContentPtr instance ) override
   {
   EOBJ_INIT
   }

   void onUpdate( InstanceContentPtr instance, uint32_t currTime ) override
   {

   }

   void onEnterTerritory( InstanceContentPtr instance, Core::Entity::Player& player, unsigned int eventId, unsigned short param1, unsigned short param2 ) override
   {

   }

};