#include <ScriptObject.h>
#include <Territory/InstanceContent.h>

using namespace Sapphire;

class INSTANCE_NAME : public Sapphire::ScriptAPI::InstanceContentScript
{
public:
  INSTANCE_NAME() : Sapphire::ScriptAPI::InstanceContentScript( INSTANCE_ID )
  { }

  void onInit( InstanceContent& instance ) override
  {
EOBJ_INIT
  }

  void onUpdate( InstanceContent& instance, uint64_t tickCount ) override
  {

  }

  void onTalk( InstanceContent& instance, Entity::Player& player, Entity::EventObject& eobj, uint32_t eventId ) override
  {

  }

  void onTalk( InstanceContent& instance, Entity::Player& player, uint32_t eventId, uint64_t actorId ) override
  {

  }

  void onEnterTerritory( InstanceContent& instance, Entity::Player& player, uint32_t eventId, uint16_t param1,
                         uint16_t param2 ) override
  {

  }

  void onLeaveTerritory( InstanceContent& instance, Entity::Player& player ) override
  {

  }

};

EXPOSE_SCRIPT( INSTANCE_NAME );