#include <ScriptObject.h>
#include <Zone/InstanceContent.h>

class INSTANCE_NAME : public InstanceContentScript
{
public:
   INSTANCE_NAME() : InstanceContentScript( INSTANCE_ID )
   { }

   void onInit( InstanceContentPtr instance ) override
   {
   EOBJ_INIT
   }

   void onUpdate( InstanceContentPtr instance, uint32_t currTime ) override
   {

   }

   void onEnterTerritory( InstanceContentPtr instance, Core::Entity::Player& player, Entity::Player &player, uint32_t eventId, uint16_t param1, uint16_t param2 ) override
   {

   }

};